# Usage: pip install -r requirements.txt
Cython
matplotlib>=3.2.2
numpy>=1.19.4
opencv-python==4.5.3.56
pillow
easydict
PyYAML==5.4.1
scipy>=1.4.1
tensorboard>=2.2
tqdm>=4.41.0
# torch>=1.6.0
# torchvision>=0.7.0

'''
wget https://nvidia.box.com/shared/static/p57jwntv436lfrd78inwl7iml6p13fzh.whl -O torch-1.8.0-cp36-cp36m-linux_aarch64.whl
sudo apt-get install python3-pip libopenblas-base libopenmpi-dev libomp-dev
pip3 install Cython
pip3 install numpy torch-1.8.0-cp36-cp36m-linux_aarch64.whl

sudo apt-get install libjpeg-dev zlib1g-dev libpython3-dev libavcodec-dev libavformat-dev libswscale-dev
git clone --branch v0.9.0 https://github.com/pytorch/vision torchvision   # see below for version of torchvision to download
cd torchvision
export BUILD_VERSION=0.9.0  # where 0.x.0 is the torchvision version  
python3 setup.py install --user
'''
