[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git

[submodule "deep_sort/deep/reid"]
	path = deep_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
