.vscode/
.venv/
.eggs/
env/
*.DS_Store
.coverage
htmlcov/
# interpreter bytecode
__pycache__/
__MACOSX/

# experiment results
runs/
videos/

# experiment files
*.pkl

# partial downlaods
*.part

# Downloaded weights
weights/*.pt
weights/*.torchscript
weights/*.onnx
weights/*_openvino_model
weights/*.engine
weights/*.tflite

# evaluation tools folder
boxmot/engine/trackeval/

# zip files
*.zip

# exports
*_openvino_model
*.torchscript
*.pt
*.pth
*.pth
*.onnx
*.engine
*.data

# interactive plots
*.html
*.gif
*.pdf

# tf models
*saved_model/
tf_models/

# distribution / packaging
build/
dist/
*.egg-info/

# cmc debug images
boxmot/motion/cmc/*.jpg

# json outputs
*_output.json
